[alias]
        aa = add --all
        ad = add .
        ap = add -p
        br = branch
        cl = clone
        co = checkout
        cob = checkout -b
        ci = commit
        cim = commit -m
        last = log -1 HEAD
        lg = log --graph --pretty=oneline --abbrev-commit
        rbi = rebase -i
        remotes = remote -v
        st = status

        # Bash commands
        br-del = "!f(){\
          git branch | grep -v "master" | grep -v ^* | xargs git branch -d;\
        }; f"

[core]
        editor = vim
[user]
	name = Josh Radecki
